<!doctype html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Dashboard | Bootstrap Simple Admin Template</title>
    <link href="{% static 'admin-dashboard/assets/vendor/fontawesome/css/fontawesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin-dashboard/assets/vendor/fontawesome/css/solid.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin-dashboard/assets/vendor/fontawesome/css/brands.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin-dashboard/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'admin-dashboard/assets/css/master.css' %}" rel="stylesheet">
    <link href="{% static 'admin-dashboard/assets/vendor/flagiconcss/css/flag-icon.min.css' %}" rel="stylesheet">

    <style>
        .admin-heading
        {
            font-size:28px;
            margin-left: 480px;
            font-weight:bold;
            color: rgba(0, 131, 116, 0.8);
            cursor:pointer;
        }

    .admin-heading:hover{
        color: rgba(137, 235, 224, 0.8);
    }
    </style>
</head>
{% csrf_token %}
<body>
    <div class="wrapper">
        <nav id="sidebar" class="active">
            <div class="sidebar-header">
                <div align="center"><img src="{% static 'admin-dashboard/assets/img/bootstrap-logo.png' %}" alt="bootraper logo"  width="100px" height="47px"></div>
            </div>
            <ul class="list-unstyled components text-secondary">
                <li>
                    <a href="/dashboard/"><i class="fas fa-home"></i> Dashboard</a>
                </li>
                {% comment %} <li>
                    <a href="admin-templates/forms.html"><i class="fas fa-file-alt"></i> Forms</a>
                </li> {% endcomment %}
                <li>
                    <a href="/listaccounts/"><i class="fas fa-table"></i> List Accounts</a>
                </li>
                <li>
                    <a href="/users/"><i class="fas fa-user-friends"></i>&nbsp;Users</a>
                </li>
                <li>
                    <a href="#uielementsmenu" data-bs-toggle="collapse" aria-expanded="false" class="dropdown-toggle no-caret-down"><i class="fas fa-layer-group"></i> Deposit/Withdraw Money</a>
                    <ul class="collapse list-unstyled" id="uielementsmenu">
                        <li>
                            <a href="/deposit/"><i class="fas fa-angle-right"></i> Deposit Money</a>
                        </li>
                        <li>
                            <a href="/withdraw/"><i class="fas fa-angle-right"></i> Withdraw Money</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="" class="dropdown-item">
                        <form action="/logout" method="GET">
                            <button type="submit">
                                <i class="fas fa-sign-out-alt"></i> 
                                Logout
                            </button>
                        </form>
                    </a>
                </li>
            </ul>
        </nav>
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <nav class="navbar navbar-expand-lg navbar-white bg-white">
                <button type="button" id="sidebarCollapse" class="btn btn-light">
                    <i class="fas fa-bars"></i><span></span>
                </button>
                <span class="admin-heading">ADMIN DASHBOARD</span>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="nav navbar-nav ms-auto">
                        <li class="nav-item dropdown">
                            <div class="nav-dropdown">
                                <a href="#" id="nav2" class="nav-item nav-link dropdown-toggle text-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> <span> &nbsp;{{ user.username }}</span> <i style="font-size: .8em;" class="fas fa-caret-down"></i>
                                </a>
                                <div class="dropdown-menu dropdown-menu-end nav-link-menu">
                                    <ul class="nav-list">
                                        <li>
                                            <a href="" class="dropdown-item">
                                                <form action="/logout" method="GET">
                                                    <button type="submit">
                                                        <i class="fas fa-sign-out-alt"></i> 
                                                        Logout
                                                    </button>
                                                </form>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>ACCOUNTS IN THE DATABASE</h3>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="card">
                                <div class="card-header"><p class="card-title"><code>CUSTOMER'S DETAILS</code></p></div>
                                <div class="card-body">
                                    
                                    <div class="table-responsive">
                                        <!-- <table class="table"> -->
                                        <table class="table table-hover table-bordered" id="dataTables-example" width="100%">
                                            <thead>
                                                <tr>
                                                    <th>Sr. No.</th>
                                                    <th>Name</th>
                                                    <th>Account No</th>
                                                    <th>Customer ID</th>
                                                    <th>Balance</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% load static %} {% for p in products %}
                                                <tr>
                                                    <td>{{forloop.counter}}</td>
                                                    <td>{{ p.name }}</td>
                                                    <td>{{ p.accountno }}</td>
                                                    <td>{{ p.id }}</td>
                                                    <td>{{ p.balance }}</td>
                                                </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{% static 'admin-dashboard/assets/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'admin-dashboard/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'admin-dashboard/assets/vendor/chartsjs/Chart.min.js' %}"></script>
    <script src="{% static 'admin-dashboard/assets/js/dashboard-charts.js' %}"></script>
    <script src="{% static 'admin-dashboard/assets/js/script.js' %}"></script>
</body>

</html>